
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    margin: 0 10px;
}

#sidebar-left, #sidebar-right {
    background: #d9d9d9;
    border: 1px solid #c6c6c6;
    padding: 20px;
    border-radius: 10px;
    color: #2b2b2b;
    width: 200px;
    min-height: 400px;
}

#main-content {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 10px;
}

.post {
    background: #d9d9d9;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,.08);
}

.post:last-child {
    margin-bottom: 0;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 12px;
}

.post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-user-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.username {
    font-weight: bold;
    color: #2b2b2b;
    font-size: 14px;
}

.post-date {
    color: #666;
    font-size: 12px;
}

.post-content {
    margin-bottom: 15px;
}

.post-content p {
    color: #2b2b2b;
    margin: 0 0 10px 0;
    line-height: 1.4;
    font-size: 14px;
}

.post-image {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
}

.post-actions {
    border-top: 1px solid #c6c6c6;
    padding-top: 10px;
}

.like-btn {
    background: blue;
    color: white;
    max-width: 60px;
    border-radius: 4px; 
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.2s;
}

.like-btn:hover {
    background: blue;
    filter: brightness(.90);
}

.footer {
    background: #d9d9d9;
    border: 1px solid #c6c6c6;
    padding: 15px;
    text-align: center;
    margin: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

.footer p {
    color: #111;
    margin: 0;
}






@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    
    #sidebar-left, #sidebar-right {
        display: none;
    }
}
