.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); /* subtract navbar height */
}

/* Login Box */
.login-box {
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 10px;
}

.login-box a {
    color: #00aaff;
    display: block;
    margin: 5px 0;
}

.login-box a ~ p {
    font-size: medium;

}

.login-box input[type="email"],
.login-box input[type="password"]
{
    width: 65%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
